@import "./mixins/fonts.css";
@import "./mixins/button.css";

@layer components {
	button {
		@apply --doomed-button-reset;
		@apply --doomed-button-base;

		&:hover {
			--doomed-button-state: hover;
		}

		&:active {
			--doomed-button-state: active;
		}

		&:disabled {
			--doomed-button-state: disabled;
		}
	}
}
