:host {
	@apply --doomed-button-base;

	&:host(:hover) {
		--doomed-button-state: hover;
	}

	&:host(:active) {
		--doomed-button-state: active;
	}

	&:host(:disabled) {
		--doomed-button-state: disabled;
	}
}
