@property --doomed-button-state {
	syntax: "<ident>"; /*"idle | hover | active | disabled";*/
	inherits: true;
	initial-value: idle;
}

@property --doomed-button-variant {
	syntax: "primary | secondary | tertiary | negative";
	inherits: true;
	initial-value: primary;
}

@property --doomed-button-bg-color-idle {
	syntax: "<color>";
	inherits: true;
	initial-value: #212121;
} 

@property --test {
	syntax: "<custom-ident>";
	inherits: true;
	initial-value: --asdf;
}

@mixin --doomed-button-reset() {
	&:where(button, input[type="submit"]) {
		display: initial;
		background: initial;
		border: initial;
		font-size: inherit;
		text-align: initial;
		padding: 0;
	}
}

@mixin --doomed-button-base() {
	display: inline-block;
	padding: 8px;
	border-radius: 6px;
	border-width: 2px;

	cursor: if(
		style(--doomed-button-state: disabled): not-allowed;
		else: pointer;
	);

	font-family: var(--doomed-font-sans);
	font-weight: 500;
	font-feature-settings: "ss06";
	text-box: cap alphabetic;

	background-color: if(
		style(--doomed-button-state: idle): #212121;
		style(--doomed-button-state: hover): #333;
		style(--doomed-button-state: active): #181818;
		style(--doomed-button-state: disabled): #444;
	);

	border-style: solid;
	border-color: if(
		style(--doomed-button-state: disabled): #666;
		else: #ccc;
	);
	color: if(
		style(--doomed-button-state: disabled): #aaa;
		else: #fff;
	);

	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
	transition-property: background-color, border-color, color;
}
